*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

contain{
    border: 2px solid black;
    height: 2000px;
}
.box_1{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    /* fixed */
    /* position: fixed;
    left: 200px; */
    position: sticky;
    top:10px;
}

.box_2{
    background-color: lightcoral;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    /* relative */
    /* position: relative;
    left: 100px; */
}

.box_3{
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    /* position: absolute;
    top: 200px; */
}

