.path{
    border: 2px solid black;
    padding: 5px;
}
.transform{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
}

path:hover .transform{
    transform: translate(900px);
    transition-delay: 5s    ;
}