.path{
    border: 2px solid black;    
    padding: 5px;
}
.transition{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
}

.path:hover .transition{
    width: 500px;
    height: 500px;
    transform: translate(900px);
    transition-property: width height transition;
   
}