.parent{
     background-color: gray;
    border:2px solid black;
}

.child-1{
    background-color: purple;
    display: flex;
}
.child-2{
    background-color: yellow;
    display: flex;
}
.text-1{
    order:2;
}
.image-1{
    order:1;
}
.text-2{
    order:2;
}
.image-2{
    order:1;
} 